/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

#city_field {
  width: 350px;
  display: inline;
}
 
#state_field {
  width: 85px;
  display: inline;
}

#weather_results {
  margin-top: 40px;
}

.card-deck {
  margin-top: 40px;
}

.card-top {
  margin-top: 10px;
  padding: 10px;
  width: 350px;
}

.form-control {
	max-width: 400px;
}

.mtop-25 {
	margin-top: 25px;
}

.devise-card {
	max-width: 450px;
}

.results_warning {
	color: gray;
}

